.gallery-list {
  display: flex;
  margin-top: 50px;
  list-style: none;
  margin-left: -20px;
}

.gallery-item {
  flex-basis: calc(100% / 3 - 20px);
}

.gallery-item:not(:last-child) {
  margin-right: 20px;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}
